.Categories{
    padding: 0px;
    list-style-type: none;
    font-size: 12px;
    margin-top: 20px;
}
.Categories > li{
    display: inline-block;
    margin-left: 5px;
    border-radius: 15px;
    border: 1px solid gray;
    padding: 3px 5px;
    color: gray;
    margin-bottom: 5px;
}
.Categories > li>label{
    margin:0px;
}